# TP10:**Naives bayes**

Charger des données
Récuperer les données à partir du datasets https://www.kaggle.com/venky73/spam-mails-dataset

-Entraînez le model en utilisant Naives Bayes.

-Partitionner ces données en X_train, X_test, y_train, y_test
Mesurez accurancy de votre modèle.

-Utiliser CountVectorizer from sklearn.feature_extraction.text pour transormer les données.

- Verifier est-ce-que ces emails sont-ils des spam?
**Email1**:  'Hey mohan, can we get together to watch footbal game tomorrow?',

Email2:  'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'

In [94]:
import pandas as pd
df = pd.read_csv("spam_ham_dataset.csv")
df.head(5)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [95]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.drop('label',axis=1,inplace=True)

In [96]:
import re
def preprocess(text):
    text = text.replace('\r',' ')
    text = text.replace('\n',' ')
    text = text.replace('#',' ')
    text = text.replace("we ' re","we are")
    text = text.replace("they ' re","they are")
    text = text.replace("you ' re","you are")
    text = text.replace("Subject:"," ")
    return text

In [97]:
df['new_text'] = df['text'].map(preprocess)

In [98]:
df.head()

,text,label_num,new_text
0,Subject: enron methanol ; meter # : 988291\r\n...,0,enron methanol ; meter : 988291 this is a...
1,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,"hpl nom for january 9 , 2001 ( see attached..."
2,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,"neon retreat ho ho ho , we are around to th..."
3,"Subject: photoshop , windows , office . cheap ...",1,"photoshop , windows , office . cheap . main ..."
4,Subject: re : indian springs\r\nthis deal is t...,0,re : indian springs this deal is to book th...

In [99]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(ngram_range=(1,1))
X = count_vectorizer.fit_transform(df['new_text'])
Y = df['label_num']

In [100]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5, random_state=0)

In [101]:
x_train,x_cv,y_train,y_cv = train_test_split(X_train,y_train,test_size=0.2,random_state=42)

In [102]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [103]:
model.fit(x_train.toarray() , y_train)

GaussianNB()

In [104]:
Y_predect = model.predict(x_cv.toarray())

In [105]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_cv, Y_predect))

0.9690522243713733

In [106]:
data = {
    'text1' : ['Hey mohan, can we get together to watch footbal game tomorrow?'],
    'text2' : ['Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!']
}
test = pd.DataFrame(pd.DataFrame.from_dict(data , orient='index',  columns=['text'] ))

In [107]:
test

                                                    text
text1  Hey mohan, can we get together to watch footba...
text2  Upto 20% discount on parking, exclusive offer ...

In [108]:
count_vectorizer = CountVectorizer(ngram_range=(1,1))
X_new = count_vectorizer.fit_transform(test['text'])

In [ ]:
new_predect = model.predict(X_new.toarray())